body {
    background: #e1e8e5;
    font-size: 11px;
    font-family: "Open Sans";
    width: 640px;
    padding: 10px;
}

a {
    text-align: center;
}

a:link {
    text-decoration: none;
}

.btn {
    display: block;
    margin-bottom: 10px;
    float: right;
}

.btn a {
    display: inline-block;
    zoom: 1;
    width: 108px;
    padding: 5px 0;
    line-height: 1.2;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}


.btn a:link, .btn a:visited {
    color: #ca6445;
    background: #fae9da;
}

#more-action a:hover {
    background: #f4f4f4;
    color: #369;
}

#more-action a {
    display: block;
    padding: 2px;
    color: #37a;
    background: #f8f8f8;
}

#playlist {
    overflow: scroll;
}

ul {
    list-style: none;
    -webkit-padding-start: 0px;
}

#playlist li:hover {
    background: rgba(150,171,165,0.5);
}

#playlist li .share-btn {
    display: none;
}

#playlist li:hover .share-btn {
    display: block;
    float: right;
    margin-right: 10px;
}

#playlist li {
    font-size: 11px;
    width: 220px;
    height: 28px;
    line-height: 28px;
    color: #333;
    background: rgba(198,211,205,0.5);
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    text-indent: 5px;
    zoom: 1;
}

#playlist li.selected {
    background-color: #9dd6c5;
}

#controlUI {
    background-color: #111;
    color: #eee;
    height: 60px;
}

#controlUI .cover-image{
    background-color: #fff;
    display: inline-block;
    height: 60px; width: 60px;
}

#controlUI #toggleButton { height: 100%; width: 100%; cursor: pointer; opacity: 0.2; background-image: url(img/play.png);}
#controlUI #toggleButton.paused { background-image: url(img/pause.png); }
#controlUI #toggleButton:hover { opacity: 0.6;}


#current-list table tr td:first-child {
    cursor: pointer;
}

#current-list {
    height: 300px;
}

#left {
    display: inline-block;
    width: 380px;
    max-height: 400px;
    overflow-y: scroll;
}

#right {
    max-width: 240px;
    margin-left: 25px;
    max-height: 400px;
    display: inline-block;
}

#playlist-ul {
    height: 300px;
    overflow-y: scroll;
}



